@import url("reset.css");




@media screen and (max-width: 600px) {
  BODY {
    font-size:1.7vmax ;
  }
}

BODY {
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	font-family: 'Source Code Pro', monospace;
	font-size:1.1vmax ;
	max-width: 56rem;
	padding:  1.5rem;
	margin-left:  1rem;
	margin-right: auto;
	background: #121212;
	color: #eeeeee;

}


H1{
	text-align:left;
	font-size:1.75em;
	margin-top:30px;
	margin-bottom:30px;
	margin-left: 0px;
	margin-right: 0px;
	vertical-align:top;
	color: #eeeeee;	
}


H2{
	text-align:left;
	font-size:1.50em;
	margin-top:30px;
	margin-bottom:30px;
	margin-left: 0px;
	margin-right: 0px;
	vertical-align:top;
	color: #eeeeee;	
	font-weight: normal;
}


P{
	margin-top:30px;
	margin-bottom:30px;
	text-align: justify;
}

UL {
	list-style-type: disc;
	padding-left:  1.5rem;
}

LI {
	margin-bottom: 15px;
	text-align: justify;
}

TD {
	vertical-align: top;
}


 A{
	color:#eeeeee;
    text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #aaaaaa;
}

A:hover{ 
	color:#eeeeee;
    text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #333333;
}

CODE {
	font-family: 'Courier New', monospace;
}

