@import url("reset.css");

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}




BODY {
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	font-family: 'Source Code Pro', monospace;
	  max-width: 38rem;
  padding:  1.5rem;
  margin-left:  1rem;
  margin-right: auto;
	background: #121212;
	color: #eeeeee;
}


H1{
	font-family: 'Source Code Pro', monospace;
	text-align:left;
	font-size:2em;
	margin-top:30px;
	margin-bottom:30px;
	padding:0px;
	vertical-align:top;
	color:#eeeeee;

}

P{
	margin-top:30px;
	margin-bottom:30px;
}


 A{
	color:#eeeeee;
    text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #aaaaaa;
}

A:hover{ 
	color:#eeeeee;
    text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #333333;
}



